In [16]:
#assignment 4 - The following cells give you a comment about what you're supposed to produce, and the expected solution is below it.  Your solution should be entered in the cell containing each comment
import pandas as pd

In [17]:
# read the file data/densities.csv, setting the index column to the 'identifier' and display it

            mass_kg  displacement_m3
identifier
1                62       312.221872
2                70        72.355128
3                70      1371.058745
4                97      9868.165809
5                49       630.334680
6                40       129.856447
7                73        89.248781
8                89       178.262880
9                69       400.628196
10               94       396.251570

In [18]:
# sort the dataframe by the mass_kg column descending and display it

            mass_kg  displacement_m3
identifier
4                97      9868.165809
10               94       396.251570
8                89       178.262880
7                73        89.248781
2                70        72.355128
3                70      1371.058745
9                69       400.628196
1                62       312.221872
5                49       630.334680
6                40       129.856447

In [19]:
# show only the rows that have a displacement less than 1000 (maintaining the sorting from above)

            mass_kg  displacement_m3
identifier
10               94       396.251570
8                89       178.262880
7                73        89.248781
2                70        72.355128
9                69       400.628196
1                62       312.221872
5                49       630.334680
6                40       129.856447

In [20]:
# read the iris.data file into a DataFrame, renaming the 5 columns to be sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm, and species and display the "info" about the resulting dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sepal_length_cm  150 non-null    float64
 1   sepal_width_cm   150 non-null    float64
 2   petal_length_cm  150 non-null    float64
 3   petal_width_cm   150 non-null    float64
 4   species          150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [21]:
#print out descriptive statistics for each species (pandas dataframe describe function) as a separate table

Iris-setosa

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count         50.00000       50.000000        50.000000        50.00000
mean           5.00600        3.418000         1.464000         0.24400
std            0.35249        0.381024         0.173511         0.10721
min            4.30000        2.300000         1.000000         0.10000
25%            4.80000        3.125000         1.400000         0.20000
50%            5.00000        3.400000         1.500000         0.20000
75%            5.20000        3.675000         1.575000         0.30000
max            5.80000        4.400000         1.900000         0.60000

Iris-versicolor

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count        50.000000       50.000000        50.000000       50.000000
mean          5.936000        2.770000         4.260000        1.326000
std           0.516171        0.313798         0.469911        0.197753
min           4.900000        2.000000         3.000000        1.000000
25%           5.600000        2.525000         4.000000        1.200000
50%           5.900000        2.800000         4.350000        1.300000
75%           6.300000        3.000000         4.600000        1.500000
max           7.000000        3.400000         5.100000        1.800000

Iris-virginica

       sepal_length_cm  sepal_width_cm  petal_length_cm  petal_width_cm
count         50.00000       50.000000        50.000000        50.00000
mean           6.58800        2.974000         5.552000         2.02600
std            0.63588        0.322497         0.551895         0.27465
min            4.90000        2.200000         4.500000         1.40000
25%            6.22500        2.800000         5.100000         1.80000
50%            6.50000        3.000000         5.550000         2.00000
75%            6.90000        3.175000         5.875000         2.30000
max            7.90000        3.800000         6.900000         2.50000

In [22]:
# read a subset of the agriculture_20.xlsx spreadsheet into a DataFrame, specifically the selected_facts sheet, starting with row 7, and reading exactly 160 rows (159 counties + state data)
# note, you may need to install the openpyxl python package

,Unnamed: 0,"Average Farm Size, Acres","Median Farm Size, Acres","Farms of 1-9 Acres, Percent","Farms of 10-49 Acres, Percent","Farms of 50-179 Acres, Percent","Farms of 180-499 Acres, Percent","Farms of 500-999 Acres, Percent","Farms of 1000 or More Acres, Percent","Farm Sales Below $2,500, Percent",...,"Estimated Market Value, Land and Buildings, Dollars per Acre","Estimated Market Value, Machinery and Equipment, Dollars per Farm",Principle Producers,"Principle Producers, Black","Principle Producers, Hispanic","Principle Producers, Women",Principle Producers Average Age,"Principle Producers, Worked 200 or More Days Off Farm, Percent",Irrigated Acres,"Conservation Reserve Program Cumulative Enrollment, Acres"
0,APPLING,234,65,12.773723,31.021898,28.832117,15.328467,5.474453,6.569343,33.394161,...,3249,136171,737,1,15,210,56.3,39.891452,13716,1192.50
1,ATKINSON,334,115,11.627907,22.790698,35.813953,10.232558,7.906977,11.627907,42.790698,...,2904,192878,273,6,8,56,57.7,34.432234,9110,66.07
2,BACON,228,85,13.553114,24.542125,34.798535,17.948718,4.395604,4.761905,39.560440,...,4116,144034,353,0,0,71,56.9,47.875354,6056,118.49
3,BAKER,891,158,8.163265,21.088435,25.850340,14.965986,8.163265,21.768707,29.251701,...,2222,343799,175,42,3,38,62.3,23.428571,26240,417.41
4,BALDWIN,244,100,2.877698,33.093525,32.374101,14.388489,10.791367,6.474820,55.395683,...,2165,66743,165,7,1,51,60.5,59.393939,85,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,WILCOX,316,104,3.135889,26.829268,34.494774,18.815331,7.665505,9.059233,49.825784,...,2608,132330,378,27,0,103,59.7,39.947090,19001,5460.76
156,WILKES,329,119,4.693141,20.577617,41.877256,22.743682,5.054152,5.054152,33.935018,...,3447,67477,375,10,12,112,58.9,38.933333,561,528.46
157,WILKINSON,217,131,7.142857,15.000000,37.857143,26.428571,10.000000,3.571429,45.714286,...,2050,50675,173,10,0,44,60.7,43.930636,429,654.19
158,WORTH,464,106,6.823028,25.159915,29.637527,11.300640,11.727079,15.351812,42.004264,...,3003,249754,600,16,3,125,59.1,35.500000,49167,5747.27
159,GEORGIA,235,67,10.641156,31.678409,31.760880,15.349089,5.261670,5.308796,43.813473,...,3509,115773,55425,2391,758,15585,58.9,40.359044,1287541,231617.89

In [23]:
# separate the result into two dataframes, one for the counties, and one for the state

,Unnamed: 0,"Average Farm Size, Acres","Median Farm Size, Acres","Farms of 1-9 Acres, Percent","Farms of 10-49 Acres, Percent","Farms of 50-179 Acres, Percent","Farms of 180-499 Acres, Percent","Farms of 500-999 Acres, Percent","Farms of 1000 or More Acres, Percent","Farm Sales Below $2,500, Percent",...,"Estimated Market Value, Land and Buildings, Dollars per Acre","Estimated Market Value, Machinery and Equipment, Dollars per Farm",Principle Producers,"Principle Producers, Black","Principle Producers, Hispanic","Principle Producers, Women",Principle Producers Average Age,"Principle Producers, Worked 200 or More Days Off Farm, Percent",Irrigated Acres,"Conservation Reserve Program Cumulative Enrollment, Acres"
0,APPLING,234,65,12.773723,31.021898,28.832117,15.328467,5.474453,6.569343,33.394161,...,3249,136171,737,1,15,210,56.3,39.891452,13716,1192.50
1,ATKINSON,334,115,11.627907,22.790698,35.813953,10.232558,7.906977,11.627907,42.790698,...,2904,192878,273,6,8,56,57.7,34.432234,9110,66.07
2,BACON,228,85,13.553114,24.542125,34.798535,17.948718,4.395604,4.761905,39.560440,...,4116,144034,353,0,0,71,56.9,47.875354,6056,118.49
3,BAKER,891,158,8.163265,21.088435,25.850340,14.965986,8.163265,21.768707,29.251701,...,2222,343799,175,42,3,38,62.3,23.428571,26240,417.41
4,BALDWIN,244,100,2.877698,33.093525,32.374101,14.388489,10.791367,6.474820,55.395683,...,2165,66743,165,7,1,51,60.5,59.393939,85,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WHITFIELD,95,46,13.212435,39.119171,31.088083,15.284974,0.777202,0.518135,34.196891,...,6185,64119,509,4,0,123,57.4,47.544204,(D),53.10
155,WILCOX,316,104,3.135889,26.829268,34.494774,18.815331,7.665505,9.059233,49.825784,...,2608,132330,378,27,0,103,59.7,39.947090,19001,5460.76
156,WILKES,329,119,4.693141,20.577617,41.877256,22.743682,5.054152,5.054152,33.935018,...,3447,67477,375,10,12,112,58.9,38.933333,561,528.46
157,WILKINSON,217,131,7.142857,15.000000,37.857143,26.428571,10.000000,3.571429,45.714286,...,2050,50675,173,10,0,44,60.7,43.930636,429,654.19
158,WORTH,464,106,6.823028,25.159915,29.637527,11.300640,11.727079,15.351812,42.004264,...,3003,249754,600,16,3,125,59.1,35.500000,49167,5747.27

,Unnamed: 0,"Average Farm Size, Acres","Median Farm Size, Acres","Farms of 1-9 Acres, Percent","Farms of 10-49 Acres, Percent","Farms of 50-179 Acres, Percent","Farms of 180-499 Acres, Percent","Farms of 500-999 Acres, Percent","Farms of 1000 or More Acres, Percent","Farm Sales Below $2,500, Percent",...,"Estimated Market Value, Land and Buildings, Dollars per Acre","Estimated Market Value, Machinery and Equipment, Dollars per Farm",Principle Producers,"Principle Producers, Black","Principle Producers, Hispanic","Principle Producers, Women",Principle Producers Average Age,"Principle Producers, Worked 200 or More Days Off Farm, Percent",Irrigated Acres,"Conservation Reserve Program Cumulative Enrollment, Acres"
159,GEORGIA,235,67,10.641156,31.678409,31.76088,15.349089,5.26167,5.308796,43.813473,...,3509,115773,55425,2391,758,15585,58.9,40.359044,1287541,231617.89

In [24]:
# rename the first column to be count/state in the county/state dataframes

,Unnamed: 0,"Average Farm Size, Acres","Median Farm Size, Acres","Farms of 1-9 Acres, Percent","Farms of 10-49 Acres, Percent","Farms of 50-179 Acres, Percent","Farms of 180-499 Acres, Percent","Farms of 500-999 Acres, Percent","Farms of 1000 or More Acres, Percent","Farm Sales Below $2,500, Percent",...,"Estimated Market Value, Land and Buildings, Dollars per Acre","Estimated Market Value, Machinery and Equipment, Dollars per Farm",Principle Producers,"Principle Producers, Black","Principle Producers, Hispanic","Principle Producers, Women",Principle Producers Average Age,"Principle Producers, Worked 200 or More Days Off Farm, Percent",Irrigated Acres,"Conservation Reserve Program Cumulative Enrollment, Acres"
0,APPLING,234,65,12.773723,31.021898,28.832117,15.328467,5.474453,6.569343,33.394161,...,3249,136171,737,1,15,210,56.3,39.891452,13716,1192.50
1,ATKINSON,334,115,11.627907,22.790698,35.813953,10.232558,7.906977,11.627907,42.790698,...,2904,192878,273,6,8,56,57.7,34.432234,9110,66.07
2,BACON,228,85,13.553114,24.542125,34.798535,17.948718,4.395604,4.761905,39.560440,...,4116,144034,353,0,0,71,56.9,47.875354,6056,118.49
3,BAKER,891,158,8.163265,21.088435,25.850340,14.965986,8.163265,21.768707,29.251701,...,2222,343799,175,42,3,38,62.3,23.428571,26240,417.41
4,BALDWIN,244,100,2.877698,33.093525,32.374101,14.388489,10.791367,6.474820,55.395683,...,2165,66743,165,7,1,51,60.5,59.393939,85,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,WHITFIELD,95,46,13.212435,39.119171,31.088083,15.284974,0.777202,0.518135,34.196891,...,6185,64119,509,4,0,123,57.4,47.544204,(D),53.10
155,WILCOX,316,104,3.135889,26.829268,34.494774,18.815331,7.665505,9.059233,49.825784,...,2608,132330,378,27,0,103,59.7,39.947090,19001,5460.76
156,WILKES,329,119,4.693141,20.577617,41.877256,22.743682,5.054152,5.054152,33.935018,...,3447,67477,375,10,12,112,58.9,38.933333,561,528.46
157,WILKINSON,217,131,7.142857,15.000000,37.857143,26.428571,10.000000,3.571429,45.714286,...,2050,50675,173,10,0,44,60.7,43.930636,429,654.19
158,WORTH,464,106,6.823028,25.159915,29.637527,11.300640,11.727079,15.351812,42.004264,...,3003,249754,600,16,3,125,59.1,35.500000,49167,5747.27

,Unnamed: 0,"Average Farm Size, Acres","Median Farm Size, Acres","Farms of 1-9 Acres, Percent","Farms of 10-49 Acres, Percent","Farms of 50-179 Acres, Percent","Farms of 180-499 Acres, Percent","Farms of 500-999 Acres, Percent","Farms of 1000 or More Acres, Percent","Farm Sales Below $2,500, Percent",...,"Estimated Market Value, Land and Buildings, Dollars per Acre","Estimated Market Value, Machinery and Equipment, Dollars per Farm",Principle Producers,"Principle Producers, Black","Principle Producers, Hispanic","Principle Producers, Women",Principle Producers Average Age,"Principle Producers, Worked 200 or More Days Off Farm, Percent",Irrigated Acres,"Conservation Reserve Program Cumulative Enrollment, Acres"
159,GEORGIA,235,67,10.641156,31.678409,31.76088,15.349089,5.26167,5.308796,43.813473,...,3509,115773,55425,2391,758,15585,58.9,40.359044,1287541,231617.89

In [25]:
# read the titanic.csv dataset into a dataframe, with the index set to PassengerId

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.55,NaN,S
1284,0,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.25,NaN,S
747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.25,NaN,S
280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.25,NaN,S
1237,1,3,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.65,NaN,S

In [26]:
# drop the column Cabin, and drop all the missing values in "Embarked", then show the info

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 846 to 423
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1307 non-null   int64
 1   Pclass    1307 non-null   int64
 2   Name      1307 non-null   object
 3   Sex       1307 non-null   object
 4   Age       1044 non-null   float64
 5   SibSp     1307 non-null   int64
 6   Parch     1307 non-null   int64
 7   Ticket    1307 non-null   object
 8   Fare      1306 non-null   float64
 9   Embarked  1307 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 112.3+ KB

In [27]:
# fill any missing age with the average age of those that you have, and show the info for the result

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 846 to 423
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1307 non-null   int64
 1   Pclass    1307 non-null   int64
 2   Name      1307 non-null   object
 3   Sex       1307 non-null   object
 4   Age       1307 non-null   float64
 5   SibSp     1307 non-null   int64
 6   Parch     1307 non-null   int64
 7   Ticket    1307 non-null   object
 8   Fare      1306 non-null   float64
 9   Embarked  1307 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 112.3+ KB

In [28]:
# add a new column called FamilySize to the dataframe, which is the SibSp + the Parch columns + 1 (themself)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
PassengerId,,,,,,,,,,,
846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.55,S,1
1284,0,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.25,S,3
747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.25,S,3
280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.25,S,3
1237,1,3,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.65,S,1

In [29]:
# describe the numerical variables

# describe the categorical variables

,Survived,Pclass,Age,SibSp,Parch,Fare,FamilySize
count,1307.000000,1307.000000,1307.000000,1307.000000,1307.000000,1306.000000,1307.000000
mean,0.381025,2.296863,29.842596,0.499617,0.385616,33.223956,1.885233
std,0.485825,0.836942,12.860376,1.042273,0.866092,51.765986,1.584473
min,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,2.000000,22.000000,0.000000,0.000000,7.895800,1.000000
50%,0.000000,3.000000,29.842596,0.000000,0.000000,14.454200,1.000000
75%,1.000000,3.000000,35.000000,1.000000,0.000000,31.275000,2.000000
max,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200,11.000000

                        Name   Sex    Ticket Embarked
count                   1307  1307      1307     1307
unique                  1305     2       928        3
top     Connolly, Miss. Kate  male  CA. 2343        S
freq                       2   843        11      914

In [30]:
# save the cleaned data to titanic_clean.csv in the "results" folder