In [2]:
# For this assignment, we are going to use the Open-Meteo weather api (https://open-meteo.com/en/docs) to practice calling external APIs, and using the results
import requests
import pandas as pd

In [4]:
# Take a moment to read through the documentation and then fetch the daily forecast of min and max temperatures at: 33.938830, -83.375070, in Fahrenheit
result = requests.get("https://api.open-meteo.com/v1/forecast?latitude=33.93&longitude=-83.38&daily=temperature_2m_max,temperature_2m_min&current_weather=false&temperature_unit=fahrenheit&timezone=UTC")
# Print the result of the request as a python dictionary
df_dict = result.json()
df_dict

{'utc_offset_seconds': 0,
 'daily_units': {'time': 'iso8601',
  'temperature_2m_max': '°F',
  'temperature_2m_min': '°F'},
 'longitude': -83.375,
 'daily': {'time': ['2022-04-21',
   '2022-04-22',
   '2022-04-23',
   '2022-04-24',
   '2022-04-25',
   '2022-04-26',
   '2022-04-27'],
  'temperature_2m_max': [74.8, 79.5, 80.5, 80.3, 83.6, 79.6, 75],
  'temperature_2m_min': [50.9, 54.2, 55.3, 54.9, 60.5, 63, 45.9]},
 'generationtime_ms': 0.3579854965209961,
 'elevation': 189.125,
 'latitude': 33.875}

In [5]:
# Read the result into a dataframe and reflect on its usability 
df = pd.DataFrame.from_dict(result.json())
df = df[["daily","generationtime_ms","longitude","utc_offset_seconds","latitude","elevation","daily_units"]]
df
#Better looking output

,daily,generationtime_ms,longitude,utc_offset_seconds,latitude,elevation,daily_units
time,"[2022-04-21, 2022-04-22, 2022-04-23, 2022-04-2...",0.357985,-83.375,0,33.875,189.125,iso8601
temperature_2m_max,"[74.8, 79.5, 80.5, 80.3, 83.6, 79.6, 75]",0.357985,-83.375,0,33.875,189.125,°F
temperature_2m_min,"[50.9, 54.2, 55.3, 54.9, 60.5, 63, 45.9]",0.357985,-83.375,0,33.875,189.125,°F

In [14]:
# Make a new dataframe reusing the data from before (don't make another request), keep only the daily field, and set the index to be time
df_new = pd.DataFrame(df_dict["daily"])
df_new.set_index("time")

            temperature_2m_min  temperature_2m_max
time
2022-04-21                50.9                74.8
2022-04-22                54.2                79.5
2022-04-23                55.3                80.5
2022-04-24                54.9                80.3
2022-04-25                60.5                83.6
2022-04-26                63.0                79.6
2022-04-27                45.9                75.0

In [6]:
# Let's practice again- this time fetch only the current weather in fahrenheit from 3 locations (34.289951,-85.191330), (33.938830, -83.375070), (33.736600, -84.373640)
result_1 = requests.get("https://api.open-meteo.com/v1/forecast?latitude=34.29&longitude=-85.1913&current_weather=true&temperature_unit=fahrenheit")
df_dict_1 = result_1.json()

result_2 = requests.get("https://api.open-meteo.com/v1/forecast?latitude=33.938830&longitude=-83.375070&current_weather=true&temperature_unit=fahrenheit")
df_dict_2 = result_2.json()

result_3 = requests.get("https://api.open-meteo.com/v1/forecast?latitude=33.736600&longitude=-84.373640&current_weather=true&temperature_unit=fahrenheit")
df_dict_3 = result_3.json()
# Save and print the result of the requests as python dictionaries
print(df_dict_1)
print(df_dict_2)
print(df_dict_3)

{'generationtime_ms': 0.13494491577148438, 'elevation': 239.625, 'utc_offset_seconds': 0, 'longitude': -85.25, 'latitude': 34.25, 'current_weather': {'winddirection': 176, 'temperature': 76.2, 'time': '2022-04-21T22:00', 'windspeed': 8.4, 'weathercode': 2}}
{'generationtime_ms': 0.11396408081054688, 'elevation': 212.125, 'utc_offset_seconds': 0, 'longitude': -83.375, 'latitude': 34, 'current_weather': {'temperature': 73.6, 'winddirection': 148, 'time': '2022-04-21T22:00', 'windspeed': 6.1, 'weathercode': 2}}
{'generationtime_ms': 0.12195110321044922, 'elevation': 288.25, 'utc_offset_seconds': 0, 'longitude': -84.375, 'latitude': 33.75, 'current_weather': {'winddirection': 149, 'temperature': 74, 'time': '2022-04-21T22:00', 'windspeed': 8.2, 'weathercode': 2}}

In [7]:
# Using the data from before (again, without making more requests), concat the 3 current_weather entries into one DataFrame
df_a = pd.DataFrame.from_dict(df_dict_1)
df_a1 = pd.DataFrame(df_a["current_weather"])
df_a1.rename(columns={"current_weather":"0"},inplace=True)

df_b = pd.DataFrame.from_dict(df_dict_2)
df_b1 = pd.DataFrame(df_b["current_weather"])
df_b1.rename(columns={"current_weather":"0"},inplace=True)

df_c = pd.DataFrame.from_dict(df_dict_3)
df_c1 = pd.DataFrame(df_c["current_weather"])
df_c1.rename(columns={"current_weather":"0"},inplace=True)

concat = pd.concat([df_a1.T,df_b1.T,df_c1.T])
concat = concat[["temperature","weathercode","windspeed","winddirection","time"]]
concat

  temperature weathercode windspeed winddirection              time
0        76.2           2       8.4           176  2022-04-21T22:00
0        73.6           2       6.1           148  2022-04-21T22:00
0          74           2       8.2           149  2022-04-21T22:00